<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Colosseum</title>
    <link rel="stylesheet" type="text/css" href="../static/css/genStyles.css" th:href="@{/css/genStyles.css}"/>
</head>

<header>
    <img id="logo" src="../static/img/colosseumLogo.jpg" th:src="@{../img/colosseumLogo.jpg}" alt="Colosseum"/>
</header>

<body>


<div class="left-Container">
    <h1>bloop</h1>
    <div class="left-Container"></div>
    <div class="right-container"></div>
</div>


<div class="right-container">

    <div class="left-Container">
        <h1>bloop</h1>
    </div>

    <div class="right-container">
        <h1>Welcome to colosseum</h1>
        <h3>The Home of debate</h3>
    </div>

</div>

</body>


<footer>
    webDesign by ScaredBoy
</footer>
</html>